<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Pincode Validation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fcbaf1">  <td>17/12/28 15:44:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QISpineOfferValidationTest.invokeTest()[pri:0, instance:com.aut.test.offers.QISpineOfferValidationTest@79be0360]">invokeTest</td> 
  <td>main@513169028</td>   <td></td> </tr>
<tr bgcolor="b792a0">  <td>17/12/28 16:17:57</td>   <td>2029320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OfferPinCodeVerificationMumbaiTest.invokeTest()[pri:0, instance:com.aut.test.offers.OfferPinCodeVerificationMumbaiTest@3dd4520b]">invokeTest</td> 
  <td>main@513169028</td>   <td></td> </tr>
<tr bgcolor="659282">  <td>17/12/28 16:45:53</td>   <td>3704858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OfferPinCodeVerificationPuneTest.invokeTest()[pri:0, instance:com.aut.test.offers.OfferPinCodeVerificationPuneTest@3cef309d]">invokeTest</td> 
  <td>main@513169028</td>   <td></td> </tr>
<tr bgcolor="92ec79">  <td>17/12/28 17:03:35</td>   <td>4767278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OfferPinCodeVerificationBangaloreTest.invokeTest()[pri:0, instance:com.aut.test.offers.OfferPinCodeVerificationBangaloreTest@32709393]">invokeTest</td> 
  <td>main@513169028</td>   <td></td> </tr>
<tr bgcolor="fcbaf1">  <td>17/12/28 15:43:47</td>   <td>-20639</td> <td>&nbsp;</td><td title="&gt;&gt;QISpineOfferValidationTest.setUp()[pri:0, instance:com.aut.test.offers.QISpineOfferValidationTest@79be0360]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@513169028</td>   <td></td> </tr>
<tr bgcolor="92ec79">  <td>17/12/28 17:23:39</td>   <td>5971738</td> <td>&nbsp;</td><td title="&lt;&lt;OfferPinCodeVerificationBangaloreTest.teardown()[pri:0, instance:com.aut.test.offers.OfferPinCodeVerificationBangaloreTest@32709393]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@513169028</td>   <td></td> </tr>
</table>
