<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="649faf">  <td>18/04/24 16:39:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyMyAccountScript.invokeTest()[pri:0, instance:com.circles.testScripts.VerifyMyAccountScript@5034c75a]">invokeTest</td> 
  <td>main@1547425104</td>   <td></td> </tr>
<tr bgcolor="649faf">  <td>18/04/24 16:38:27</td>   <td>-46040</td> <td>&nbsp;</td><td title="&gt;&gt;VerifyMyAccountScript.setUp()[pri:0, instance:com.circles.testScripts.VerifyMyAccountScript@5034c75a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1547425104</td>   <td></td> </tr>
</table>
